*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:rgb(9,20,92);
    --secondary-color:rgb(233, 237, 240);
    --tertiary-color:rgb(252,132,3);
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:var(--secondary-color)
}
/*header style*/
header{
    padding:20px 35px;
    background-color:var(--secondary-color);
    display:flex;
    justify-content: space-between;
    margin:0;
}
header h1{
    font-size:54px;
    color:var(--primary-color);
    text-shadow: -5px 5px 10px rgba(252,132,3, 0.5);
}
header nav{
    display:flex;
    align-items:center;
}
header nav ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    list-style:none;
}
header nav ul li a{
    text-decoration:none;
    color:var(--primary-color);
    padding:10px 15px;
    font-size:20px;
}
/*hero style*/
.hero{
    background-image:url(../images/lake_sunset.jpeg);
    background-size:cover;
    display:flex;
    width:100%;
    height:300px;
    margin:0;
    overflow:auto;
    justify-content: flex-end;
    align-items: flex-end;
}
.hero h2{
    margin:30px;
    padding:10px;
    background-color: var(--primary-color);
    color:var(--secondary-color);
}
/*Content style*/
.section{
    display:flex;
    padding:50px 0 0 0;
}
.section-title{
    color:var(--primary-color);
    border-right: 2px solid var(--primary-color);
    text-align:right;
    width:20%;
    padding:0 10px;
    font-size:50px;
    text-shadow:-5px 5px 10px rgba(252,132,3, 0.5);
}
.section-title img{
    width:100%;
    margin:0;
    border:1px solid var(--primary-color)
}
.section-info{
    width:75%;
    padding: 10px 25px;
}
/*Work Grid Style*/
.work-grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.work-grid-item{
    border: 2px solid var(--primary-color);
    display:flex;
    align-items: flex-end;
    margin:10px;
    justify-content:flex-start;
    min-height:200px;
    box-shadow:-5px 5px 15px rgba(252,132,3, 0.5);

}
.grid-item-text{
    margin: 20px;
    padding:5px 10px;
    font-size:20px;
    color:var(--secondary-color);
    background-color:var(--primary-color);
}
.grid-item-text p{
    font-size:14px
}
.work-grid-item.run-buddy{
    grid-column:1/ span 2;
    grid-row: 1/ span 2;
    background-image: url(../images/run_buddy.png);
    background-size:cover;
}
.work-grid-item.scallops{
    background-image: url(../images/scallops.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
}
.work-grid-item.weller{
    background-image: url(../images/weller.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
}
.work-grid-item.forrest{
    background-image: url(../images/Forrest_Stream.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
}
.work-grid-item.blue-angels{
    background-image: url(../images/BlueAnglesNash.png);
    background-size:cover;
    background-repeat:no-repeat;
}

/*footer style Contact Me*/

footer{
    padding:20px 35px;
    background-color:var(--secondary-color);
    display:flex;
    margin-bottom:35px;
    padding:20px;
}
footer nav{
        display:flex;
        justify-content: space-around;
        align-items:center;
}
footer nav ul{
    display:flex;
    flex-wrap:wrap;
    list-style:none;
}
footer nav ul li{
    font-size:20px;
    border-bottom: 1px solid var(--tertiary-color);
    margin: 0 30px;
    color:var(--primary-color);
}
footer nav ul li a{
    text-decoration:none;
    color:var(--primary-color);
    padding:10px 15px;
    font-size: 20px;
}
/*MEDIA QUERY FOR SMALL DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width:980px) {
    header h1{
        font-size: 60px;
        padding-bottom:0;
    }
    header nav ul li a{
        font-size:35px;
    }
    .section{
        display:inline-block;
    }
    .section-title{
        border-right:none;
        width:100%;
        text-align:center;
    }
    .section-title img{
        width:50%;
    }
}

/*MEDIA QUERY FOR TABLETS SMALLER*/
@media screen and (max-width:768){
  
}
/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width:575){

}