*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:rgb(23,43,176);
    --secondary-color:rgb(233, 237, 240);
    --tertiary-color:rgb(57,183,212);
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:var(--secondary-color)
}
/*header style*/
header{
    padding:20px 35px;
    background-color:var(--secondary-color);
    display:flex;
    justify-content: space-between;
    margin:0;
}
header h1{
    font-size:40px;
    color:var(--primary-color);
}
header nav{
    display:flex;
    align-items:center;
}
header nav ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    list-style:none;
}
header nav ul li a{
    text-decoration:none;
    color:var(--primary-color);
    padding:10px 15px;
}
/*hero style*/
.hero{
    background-image:url(../images/Sunset.jpeg);
    background-size:cover;
    display:flex;
    flex-wrap:wrap;
    width:100%;
    height:500px;
    margin:0;
    overflow:auto;
}
.hero h2{
    padding:10px;
    background-color: var(--primary-color);
    color:var(--secondary-color)
}
/*Content style*/
.section{
    display:flex;
    padding:50px 0 0 20px;
}
.section-title{
    color:var(--primary-color);
    border-right: 2px solid var(--primary-color);
    text-align:right;
    width:20%;
    padding:0 10px;
    font-size:50px;
}
.section-info{
    width:75%;
    padding: 10px 25px;
}
/*Work Grid Style*/
.work-grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.work-grid-item{
    border: 2px solid var(--primary-color);
    display:flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin:10px;
}
.work-grid-item h4{
    padding:50px;
    font-size:28px;
    color:var(--tertiary-color);
    background-color:var(--secondary-color);
}
.work-grid-item.run-buddy{
    grid-column:1/ span 2;
    grid-row: 1/ span 2;
    background-image: url(../images/run_buddy.png);
}
.work-grid-item.scallops{
    background-image: url(../images/scallops.jpeg);
    min-height:100px;
}
.work-grid-item.weller{
    background-image: url(../images/weller.jpeg);
}
.work-grid-item.forrest{
    background-image: url(../images/Forrest_Stream.jpeg);
    min-height:200px;
}
.work-grid-item.mustache{
    background-image: url(../images/Mustache_menu.jpeg);
}

/*footer style*/

footer{
    padding:20px 35px;
    background-color:var(--secondary-color);
    display:flex;
}
footer nav{
        display:flex;
        justify-content: space-between;
        align-items:center;
}
footer nav ul{
    display:flex;
    flex-wrap:wrap;
    list-style:none;
}
footer nav ul li a{
    text-decoration:none;
    color:var(--primary-color);
    padding:10px 15px;
}